{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    This is the Cart page. processed to review your items and place the order..
{% endblock %}

{% block title %}
Cart - MegaTech pvt ltd
{% endblock %}

{% block content %}



{% for mege in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{{mege}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<br><br>
<form action="login" method="post">
    {% csrf_token %}
<div class="container" style="width:50%;height:70vh;">
    <h1>Login </h1>
    <br>
<div class="mb-4">
  <label for="formGroupExampleInput" class="form-label">Username</label>
  <input type="text" class="form-control" name="username" id="formGroupExampleInput" placeholder="Enter Username">
</div>
  <div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label">Password</label>
  <input type="password" class="form-control" name="password" id="formGroupExampleInput2" placeholder="Enter your password">
</div>
    <button type="submit" class="btn btn-success">Login</button>
        <div style="margin-top:20px;">
                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="{% url 'register' %}"
                      style="color: #393f81;">Register here</a></p>
                  <a href="#!" class="small text-muted">Terms of use.</a>
                  <a href="#!" class="small text-muted">Privacy policy</a>
    </div>
        </div>
</form>
<br><br>
{% endblock %}



