{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
       {{ product.description | truncatewords:155 }}
{% endblock %}

<!---title part-->
{% block title %}
 {% if category %}
       {{ product.name }} - MegaTech Store
   {% endif %}
{% endblock %}
<!---title end-->



{% block content %}

<header>
    <!-- Jumbotron -->
    <div class="p-3 text-center bg-white border-bottom">
      <div class="container">
        <div class="row gy-3">
          <!-- Left elements -->

          <!-- Left elements -->

          <!-- Center elements -->

          <!-- Center elements -->


    <!-- Jumbotron -->

    <!-- Heading -->
    <div class="bg-white">
      <div class="container py-4 ">
        <!-- Breadcrumb -->
        <nav class="d-flex">
          <h6 class="mb-0 ">
            <a href="{% url 'kartapp:allProdCat' %}" class="text-black-50" style="text-decoration:none;">Home</a>
            <span class="text-black-50 mx-2"> > </span>
            <a href="{% url 'kartapp:allProdCat' %}" class="text-black-50" style="text-decoration:none;">{{product.category}}</a>
            <span class="text-black-50 mx-2"> > </span>
            <a href="" class="text-black" ><u>{{product.name}}</u></a>
          </h6>
        </nav>
        <!-- Breadcrumb -->
      </div>
    </div>
    <!-- Heading -->
  </header>

  <!-- content -->
  <section class="py-5">
    <div class="container">
      <div class="row gx-5">
        <aside class="col-lg-6">
          <div class=" mb-3 d-flex justify-content-center">
            <a data-fslightbox="mygalley"  class="rounded-4" target="_blank" data-type="image" href="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big.webp">
              <img  style="max-width: 100%; max-height: 70vh; margin: auto;" class="rounded-4 fit" src="{{product.image.url}}" alt="{{product.name}}"  />
            </a>
          </div>
          <!-- thumbs-wrap.// -->
          <!-- gallery-wrap .end// -->
        </aside>
        <main class="col-lg-6">
          <div class="ps-lg-3">
            <h4 class="title text-dark">
             {{product.name}}
            </h4>
            <div class="d-flex flex-row my-3">
              <div class="text-warning mb-1 me-2">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span class="ms-1">
                  4.5
                </span>
              </div>

            </div>

            <div class="mb-3">
              <span class="h5">${{product.price}}</span>
            </div>

            <p>
              {{product.description}}
            </p>

            <hr />

            </div>
             {% if product.stock  <= 0 %}
                 <p><b>Out of Stock</b></p>
            {% else %}
            <a href="{% url 'cartapp:add_cart' product.id %}" class="btn btn-primary shadow-0" style="margin-left:20px;"> <i class="me-1 fa fa-shopping-basket"></i> Add to cart </a>
             {% endif  %}
          </div>
        </main>
      </div>
    </div>
  </section>

  <!-- content -->










{% endblock %}